.modal :global(.ant-modal-content) {
  border-radius: var(--radius-xl);
}

.modal :global(.ant-modal-header) {
  margin-bottom: var(--spacing-lg);
}

.modal :global(.ant-modal-title) {
  font-family: var(--font-family-heading);
  color: var(--color-primary-text);
}

.modal :global(.ant-modal-body) {
  color: var(--color-secondary-text);
}

.noContentPadding :global(.ant-modal-content) {
  --ant-modal-content-padding: 0px;

  overflow: hidden;
  padding: 0 !important;
}

.noContentPadding :global(.ant-modal-body) {
  padding: 0 !important;
}

.noContentPadding :global(.ant-modal-header) {
  display: none;
}

.noPaddingModalRender :global(.ant-modal-content) {
  --ant-modal-content-padding: 0px;

  padding: 0 !important;
}
