.section {
  padding: var(--spacing-3xl) 0;
  color: var(--color-white);
  text-align: center;
  background: var(--gradient-primary);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.title {
  margin-bottom: var(--spacing-lg);
  color: var(--color-white);
}

.text {
  margin-bottom: var(--spacing-lg);
  color: rgb(255 255 255 / 90%);
  font-size: 18px;
}
